body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-6xl-6: 25.6px;
  --font-size-base-5: 16.5px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-darkslategray-100: #444;
  --color-darkslategray-200: #433a40;
  --color-white: #fff;
  --color-lightsalmon-100: #fca16d;
  --color-black: #000;
  --color-gray-100: #777;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0.44);
  --color-thistle: #ffd6f6;
  --color-mediumorchid: #f63ccd;

  /* Gaps */
  --gap-0: 0px;

  /* Paddings */
  --padding-7xs-2: 5.2px;

  /* Border radiuses */
  --br-13xl: 32px;
  --br-xs-2: 11.2px;
  --br-xl-6: 20.6px;
  --br-6xs-2: 6.2px;
  --br-xl: 20px;
  --br-48xl: 67px;
}
