.abstract-icon,
.abstract-icon1 {
  position: absolute;
  top: -1.39px;
  left: 0;
  width: 1098.99px;
  height: 1081.82px;
}
.abstract-icon1 {
  left: 796.56px;
  width: 501.63px;
  height: 1024px;
}
.log-in {  /* log in text at top */
  position: absolute;
  top: 35.19px;
  left: 377.46px;
  font-size: 38.39px;
  color: var(--color-lightsalmon-100);
  -webkit-text-stroke: 2.4px #000;
}
.email {
  position: relative;
  font-weight: 500;
}
.email-wrapper { /* email frame */
  position: absolute;
  top: -23.99px;
  left: 25.59px;
  background-color: var(--color-white);
  width: 77.57px;
  height: 48.78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.input2 { /* input field for email */
  position: absolute;
  top: 243.91px;
  left: 231.92px;
  border-radius: var(--br-xs-2);
  border: 1.6px solid var(--color-black);
  box-sizing: border-box;
  width: 404.65px;
  height: 68.78px;
}
.password-wrapper { /* password frame */
  position: absolute;
  top: -15.99px;
  left: 25.59px;
  background-color: var(--color-white);
  width: 136.75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input1 { /* input field for password */
  position: absolute;
  top: 464.63px;
  left: 231.92px;
  border-radius: var(--br-xs-2);
  border: 1.6px solid var(--color-black);
  box-sizing: border-box;
  width: 404.65px;
  height: 68.78px;
}
.log-in1 { /* log in text of button */
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
  width: 59.18px;
  height: 23.19px;
  flex-shrink: 0;
}
.login-button { /* login button */
  position: absolute;
  top: 733.34px;
  left: 377.46px;
  border-radius: 23.19px;
  background-color: #fc9e6a;
  width: 139.95px;
  height: 37.59px;
  display: flex;
  flex-direction: row;
  padding: 4.122645854949951px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 19.19px;
  color: var(--color-white);
}
.panel-right { /* right-half of page */
  position: absolute;
  top: 0;
  left: 383.86px;
  border-radius: 31.99px 0 0 31.99px;
  background-color: var(--color-white);
  width: 767.72px;
  height: 818.9px;
  overflow: hidden;
}
.abstract-icon2 {
  position: absolute;
  top: -1.63px;
  left: 0;
  width: 494.5px;
  height: 871.69px;
}
.university-of-petroleum {
  margin: 0;
}
.university-of-petroleum-container {
  position: absolute;
  top: 13.6px;
  left: 59.18px;
  font-weight: 600;
  display: inline-block;
  width: 209.52px;
  height: 34.39px;
}
.n-removebg-preview-2-icon,
.removal-2-icon { /* 3d icon of page */
  position: absolute;
  top: 131.22px;
  left: 0.19px;
  width: 519.75px;
  height: 519.75px;
  object-fit: cover;
}
.n-removebg-preview-2-icon { /* upes logo icon */
  top: -0.08px;
  left: 7.2px;
  width: 48.07px;
  height: 62.45px;
}
.panel-left { /* left-half of page */
  position: absolute;
  top: 38.39px;
  left: 28.79px;
  width: 519.01px;
  height: 650.97px;
  font-size: 12.8px;
  color: var(--color-white);
}
.desktop-4,
.desktop-5 {
  overflow: hidden;
  transform-origin: 0 0;
}
.desktop-4 { /* inner frame of page */
  position: absolute;
  top: calc(50% - 409.37px);
  left: calc(50% - 574.22px);
  border-radius: 27.99px;
  background-color: var(--color-darkslategray-200);
  box-shadow: 0 5.543505668640137px 33.26px rgba(0, 0, 0, 0.5);
  width: 1149.99px;
  height: 818.9px;
  transform: rotate(-0.02deg);
}
.desktop-5 { /* outer frame of page */
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), #433a40;
  width: 100%;
  height: 1022.61px;
  transform: rotate(-0.06deg);
  text-align: left;
  font-size: 25.59px;
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
